.background{
    height: 100vh;
    background: linear-gradient(180deg, rgba(14, 18, 25, 0) 0%, #0E1219 100%);
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.container{
    position:absolute;
    top:200vh;
    z-index:10;
    color:white;
    margin: 3.5em 3em;
    height: 100vh;
}
  
#slider {
    height: 50vw;
    width: 50vw;
    margin: 0 auto;
    bottom: -34%;
    left: 50vw;
    position: absolute;
    perspective: 1000px;
    transform-style: preserve-3d;
}

#slider label {
    margin: auto;
    background-color: aliceblue;
    width: 50vw;
    height: 50vh;
    position: absolute;
    left: 0; right: 0;
    cursor: pointer;
    transition: transform 0.4s ease;
    z-index: 1;
}

#slide1{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 71.86%, #000000 100%), url(../public/5.png);
    background-size: cover;
    background-blend-mode: multiply, normal;
}

#slide2{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 71.86%, #000000 100%), url(../public/4.png);
    background-size: cover;
    background-blend-mode: multiply, normal;
}

#slide3{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 71.86%, #000000 100%), url(../public/3.png);
    background-size: cover;
    background-blend-mode: multiply, normal;
}
  
#s1:checked ~ #slide3, #s2:checked ~ #slide1,
#s3:checked ~ #slide2 {
    transform: translate3d(3%,-40%,-100px);
}

#s1:checked ~ #slide1, #s2:checked ~ #slide2,
#s3:checked ~ #slide3 {
    transform: translate3d(0,0,0);
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3,
#s3:checked ~ #slide1 {
    transform: translate3d(13%,-60%,-100px);
}